*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    width: 100%;
    height: 100vh;
    background-image: url("./download.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: #f5F5F5 ; */
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.container{
    background: #000000;
    width: 70%;
    height: 500px;
    display: flex;
}

.input_container{
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 20px;
}

.input_container input{
    color: white;
    background: #010001;
    margin: 10px;
    padding: 10px;
    padding-right: 250px;
    border: none;
    border-bottom: 1px solid white;
}

.input_container textarea{
    color: white;
    background: #010001;
    border: 1px solid #f4f4f4;
    margin: 10px;
    margin-bottom: 20px;
}
.input_container button{
    background: #3db9da;
    color: white;
    padding: 10px;
    width: 100px;
    margin-left: 5px;
    border: none;
    font-family: sans-serif;
}

.input_container span{
    color: white;
    margin: 20px;
    font-family: sans-serif;
    
}

.contact_container a{
    color: #3db9da;
}

button:hover{
    background-color: #aae4ef;
    color: #001;
    cursor: pointer;
}

.contact_container a:hover{
    color: white;
}



/*  */



.contact_container{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.contact_container>h3{
    font-family: sans-serif;
    color: white;
    margin-top: 50px;
}

.contact_container>h1{
    color: #3db9da;
    font-family: sans-serif;
    margin: 20px 0;
}


.contact_container>p{
    color: white;
    font-family: sans-serif;
    margin-top: 10px;
    margin-right: 10px;
}

.contact_container>a{
    list-style: none;
    text-decoration: none;
}

.icon_container{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    margin-right: 0;
}

.icon_container>h1{
    color: #3db9da;
    font-family: sans-serif;
    margin-bottom: 20px;
}

ul{
    display: flex;
}

li{
    color: #3db9da;
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    margin: 0 10px;
}

.icon_container>p{
    margin-top: 50px;
    color: white;
}